/*INTRO CSS*/

.body{
    margin: 0 auto;
    width: 1400px;
}

.container{
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
}

.title{
    font-family: 'title';
    color: var(--intro-txtcolor);
    font-size: 80px;
    font-variant: small-caps;
    opacity: 0;

    /*ANIMATION*/

    animation-name: title;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}

@keyframes title {
    0%{
        opacity: 0;
        transform: rotate(-45deg) translateX(-800px);
    }
    100%{
        opacity: 1;
        transform: rotate(0deg) translateX(0px);
    }
}

.subtitle{
    font-family: 'title';
    color: var(--intro-txtcolor);
    font-size: 70px;
    font-variant: small-caps;
    opacity: 0;
    margin-top: -50px;

    /*ANIMATION*/

    animation-name: subtitle;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}

@keyframes subtitle {
    0%{
        opacity: 0;
        transform: rotate(45deg) translateX(400px);
    }
    100%{
        opacity: 1;
        transform: rotate(0deg) translateX(0px);
    }
}

.play{
    text-shadow: 
    2px 0 black,   /* Sombra hacia la derecha */
    -2px 0 black,  /* Sombra hacia la izquierda */
    0 2px black,   /* Sombra hacia abajo */
    0 -2px black,  /* Sombra hacia arriba */
    2px 2px black, /* Sombra en diagonal abajo-derecha */
    2px -2px black,/* Sombra en diagonal arriba-derecha */
    -2px 2px black,/* Sombra en diagonal abajo-izquierda */
    -2px -2px black; /* Sombra en diagonal arriba-izquierda */
    color: var(--intro-txtcolor);
    font-family: 'title';
    font-size: 100px;
    text-decoration: none;
    opacity: 0;
    transition: all 1s;
    

    /*ANIMATION*/

    animation-name: play;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes play {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

.play:hover{
    color: var(--bg-color);
}