/* Main CSS */

.main{
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    font-family: 'title';
    padding-bottom: 50px;
    gap: 4rem;
    padding-top: 50px;
    align-items: center;
}

.game__container{
    width: 600px;
    grid-area: game__container;
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 50px;
}

.game__container__animation{
    animation-name: game__container;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes game__container {
    0%{
        transform: scale(0.25) translateX(1000px);
    }
    100%{
        transform: scale(1) translateX(0px);
    }
}

.ronda{
    display: none;
    padding: 20px;
    width: 300px;
    height: 60px;
    border: 1px solid var(--border);
    color: var(--intro-txtcolor);
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    border-radius: 50px;
    background-color: var(--header-bg);
}

.lose{
    color: rgb(173, 35, 35);
    font-size: 50px;
    text-align: center;
    font-variant: small-caps;
    display: none;
}

.win{
    color: var(--intro-txtcolor);
    font-size: 50px;
    text-align: center;
    font-variant: small-caps;
    display: none;
}

/* Login */

.login{
    display: flex;
    flex-direction: column;
    background-color: var(--select-bgcolor);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid var(--border);
    width: 400px;
    align-items: center;

    /*ANIMATION*/

    opacity: 0;
    animation-name: login;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes login {
    0%{
        opacity: 0;
        transform: rotateY(360deg) translateX(-200px) scale(0.25);
    }
    50%{
        opacity: 0.5;
        transform: rotateY(-360deg) translateX(200px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg) translateX(0px) scale(1);
    }
}

.login__form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 200px;
    padding: 10px;
    align-items: center;
}

.form__text{
    color: var(--intro-txtcolor);
    letter-spacing: 3px;
    border-bottom: 1px solid var(--border);
    
}

.nickname{
    height: 40px;
    width: 300px;
    font-size: 20px;
    text-align: center;
    background-color: var(--intro-txtcolor);
    color: var(--header-bg);
    border-radius: 10px;
    border: 0;
}

.avisoNick{
    color: red;
    letter-spacing: 1px;
    width: 200px;
    font-size: 10px;
    display: none;
    margin-top: -20px;
}

.avisoDif{
    color: red;
    letter-spacing: 1px;
    width: 200px;
    font-size: 10px;
    display: none;
    margin-top: -20px;
}

.dificulty{
    height: 40px;
    width: 300px;
    font-size: 20px;
    text-align: center;
    background-color: var(--intro-txtcolor);
    color: var(--header-bg);
    border-radius: 10px;
    border: 0;
}

.form__button{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid var(--border);
    background-color: var(--select-bgcolor);
    color: var(--intro-txtcolor);
    transition: all 1s;
}

.form__button:hover{
    background-color: var(--intro-txtcolor);
    color: black;
}

/* Marcadores */

.marcadores{
    grid-area: marcadores;
    display: none;
    flex-direction: column;
    max-width: 600px;
    background-color: var(--header-bg);
    padding: 50px;
    border-radius: 10px;
    
}

.marcadores__animation{
    animation-name: marcadores;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
}

@keyframes marcadores {
    0%{
        transform: scale(0.25) translateX(-1000px);
    }
    100%{
        transform: scale(1) translateX(0px);
    }
}

.marcadores__text{
    color: var(--intro-txtcolor);
    font-size: 35px;
    letter-spacing: 1px;
    font-variant: small-caps;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.button__start{
    width: 400px;
    height: 50px;
    border-radius: 20px;
    background-color: var(--intro-txtcolor);
    color: var(--header-bg);
    font-size: 25px;
    font-weight: bold;
    font-family: 'text';
    transition: all 0.5s;
}

.button__start:hover{
    background-color: var(--header-bg);
    color: var(--intro-txtcolor);
}

/*GAME*/

.simon{
    border-radius: 100%;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: grid;
    grid-template-areas: "c1 c2"
                         "c3 c4";
    margin-right: 20px;
}

/* Colors */

.color1{
    background-color: var(--color1-simon);
    width: 100%;
    height: 100%;
    grid-area: c1;
    border-top-left-radius: 100%;
    border: 2px solid black;
    box-shadow: 0px 0px 0px 0px black;
    transition: box-shadow 0.5s;
}

/* .color1:hover{
    box-shadow: 0px 0px 15px 5px var(--color1-simon);
} */

.color2{
    background-color: var(--color2-simon);
    width: 100%;
    height: 100%;
    grid-area: c2;
    border-top-right-radius: 100%;
    border: 2px solid black;
    box-shadow: 0px 0px 0px 0px black;
    transition: box-shadow 0.5s;
}

/* .color2:hover{
    box-shadow: 0px 0px 15px 5px var(--color2-simon);
} */

.color3{
    background-color: var(--color3-simon);
    width: 100%;
    height: 100%;
    grid-area: c3;
    border-bottom-left-radius: 100%;
    border: 2px solid black;
    box-shadow: 0px 0px 0px 0px black;
    transition: box-shadow 0.5s;
}

/* .color3:hover{
    box-shadow: 0px 0px 15px 5px var(--color3-simon);
} */

.color4{
    background-color: var(--color4-simon);
    width: 100%;
    height: 100%;
    grid-area: c4;
    border-bottom-right-radius: 100%;
    border: 2px solid black;
    box-shadow: 0px 0px 0px 0px black;
    transition: box-shadow 0.5s;
}

/* .color4:hover{
    box-shadow: 0px 0px 15px 5px var(--color4-simon);
} */
